*{
    /* margin: 0; */
    padding: 0;
}

.wrapper {
    border-style: double;
    display: flex;
    align-content: space-between;
    background-color: #242526;
}

.box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.nav {
    padding: 300px 10px;
    width: 30%;
}

.reviews {
    padding: 150px 10px;
    width: 25%;
}

.rating {
    padding: 150px 10px;
    width: 25%;
}

.analysis {
    padding: 150px 10px;
    width: 25%;
}

.visitors {
    padding: 150px 10px;
    width: 92%;
    margin-top: 15px;
}

.nav, .reviews, .rating, .analysis, .visitors {
    background-color: #3a3b3c;
    color: white;
}